@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
}

ul {
    list-style-type: None;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

/* navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
     
}
.navbar ul{
    flex-wrap: wrap;
    line-height: 40px;
    justify-content: center;
    display: flex;
    list-style: none;
    margin: 25px 0px;
}
.navbar li{
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    border: 2px solid white;
    height: 40px;
    justify-content: center;
    text-decoration: none;
    background-color: rgba(0,0,0,.8);
    color: rgba(255, 255, 255, 0.9);
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: transparent;
     color: white;
     box-shadow: 0 0 100px white;    
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*Home Page*/
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 810px;

}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0,128,128,.25);
    background: url('photos/DSC00203.JPG') no-repeat center center/cover, rgba(0,128,128,.25);
    background-blend-mode: hard-light;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .85;
}

#main{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    position: center;
    overflow: hidden;
}

#mainheadings{
    font-size: 5rem;
    text-align: center;
    margin: 10px 0px;
    margin-top: 300px;
    overflow: hidden;
}

.spotify{
    display: flex;
    position: sticky;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 150px;
}
.btn{
    padding: 10px 35px;
    background-color: transparent;
    border: transparent;
    color: white;
    outline:none;
    transition: .6s ease;
    font-weight: bold; 
    z-index: 3;
}
.btn:hover{
    cursor: pointer;
    box-shadow: 0 0 100px white;
}

/*About me*/
#aboutme{
    overflow: hidden;
    display:flex;
    flex-direction:column;
    background-image: url(./photos/space1.jpg);
    background-size: 2000px;
    color: rgb(14, 212, 212);
    color: white;
    z-index: 1;
    border: 2px solid white;
    
}

.pic{
    display:flex;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 150px;
    z-index: 1;
    transform: translateY(130px);
}
.pic img{
    width: 575px;
    height: 400px;
}
#subheadings{
    font-size: 3rem;
    text-align: center;
    padding-top: 20px;
    overflow: hidden;
}
#subheadings2{
    font-size: 3rem;
    text-align: center;
    padding-top: 20px;
    overflow: hidden;
}
#subheadings3{
    font-size: 3rem;
    text-align: center;
    padding-top: 20px;
    overflow: hidden;
}
#subheadings4{
    font-size: 3rem;
    text-align: center;
    padding-top: 20px;
    overflow: hidden;
}

#intro{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    overflow: hidden;
}
#intro h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    overflow: hidden;
}

/*Photography*/
#Photography{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: rgba(0,0,0,0.7);
    color: white;
    background-image: url(./photos/space2.jpg);
    background-size: 1500px;
    align-items: center;
    border: 2px solid white;
    z-index: 1;
    
    
}


#btn2{
    padding: 10px 35px;
    background-color: rgba(0,0,0,0.15);
    border: 2px solid white;
    color: rgba(0,0,0,0.7);
    color: white;
    outline:none;
    transition: .4s ease;
    font-weight: bold; 
    z-index: 3;
    transform: translateY(130px);
    overflow: hidden;
}

#btn2:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 100px white;
    overflow: hidden;
}

.gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
    padding-top: 30px;
    transform: translateY(130px);
    margin-bottom: 550px;
    width: 1000px;
    
}
.gallery img{
    width: 240px;
    height: 360px;
    padding: auto;
    margin: 10px;
    z-index: 1;
}

/*Videography*/
#Videography{
    display: flex;
    flex-direction: column;
    background-image: url(./photos/space3.jpg);
    background-size: 1500px;
    color: rgb(14, 212, 212);
    color: white;
    z-index: -1;
    border: 2px solid white;
    overflow: hidden;
    
}
.youtube{
    display:flex;
    box-sizing: border-box;
    padding: 20px;
    transform: translateY(130px);
    margin-bottom: 150px;
    overflow: hidden;

}
.youtube img{
    width: 575px;
    height: 400px;  
    /*margin-left: auto;
    display: block;
    margin-right: 20px;*/
}

#vidsummary{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    opacity: .7;
    overflow: hidden;
}

#Videography button{
    width: 250px;
    height: 75px;
    margin: auto;
    transform: translateY(0px);
    padding: 10px 35px;
    background-color: red;
    border: 2px solid white;
    color: white;
    outline:none;
    transition: .4s ease;
    font-weight: bold; 
    z-index: 1;
    font-style: bold;
    overflow: hidden;
}

#projects {
    display: flex;
    flex-direction: column;
    background-image: url(./photos/space4.jpg);
    background-size: 2000px;
    color: rgba(0,0,0,.7);
    color: white;
    border: 2px solid white;
    overflow: hidden;
}

#pokemonTCG{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    opacity: .7;
    overflow: hidden;
}

.btn3{
    padding: 10px 35px;
    background-color: rgba(0,0,0,0.2);
    border: 2px solid white;
    color: white;
    outline:none;
    transition: .4s ease;
    font-weight: bold; 
    z-index: 3;
    width: 300px;
    margin: auto;
    overflow: hidden;
}

.btn3:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 100px white;
    overflow: hidden;
}

